syntax: glob
WallpaperMaker/bin/Debug/WallpaperMaker.vshost.exe.config
WallpaperMaker/bin/Debug/WallpaperMaker.vshost.exe
WallpaperMaker/bin/Debug/WallpaperMaker.pdb
WallpaperMaker/bin/Debug/WallpaperMaker.vshost.exe.manifest
WallpaperMaker/obj/
